---
layout: revealjs
title: not used. Use _config.yml!
---


{% include_relative _pandas/intro.md  %}

---

{% include_relative _pandas/data_background.md  %}

---

{% include_relative _pandas/categories_basic.md  %}

---

{% include_relative _pandas/data_types.md  %}

---

## Examples

The following scripts are located here
![Add Link]()


You can run these scripts and see for yourself.

The scripts build the DF and then measures the size before 
and after conversion to categories

---

{% include_relative _pandas/examples.md %}

--- 

---

{% include_relative _pandas/conclusion.md %}

